:root,
[data-theme] {
  --link-anchor-color: var(--main-text-color);
  --link-anchor-border-radius: var(--main-border-radius);
  --link-anchor-focus-outline-color: var(--main-text-color);
  --link-anchor-focus-outline-width: var(--main-focus-outline-width);
}

.link-anchor {
  border-radius: var(--link-anchor-border-radius);
  color: var(--link-anchor-color);
  outline-style: solid;
  outline-width: 0;
  padding: 2px;
  text-decoration: none;
}

.link-anchor:hover {
  text-decoration: underline;
}

.link-anchor:focus {
  outline-color: var(--link-anchor-focus-outline-color);
  outline-width: var(--link-anchor-focus-outline-width);
}

.link-anchor-light {
  --link-anchor-color: var(--main-text-color-dark);
}

.link-anchor-dark {
  --link-anchor-color: var(--main-text-color-light);
}
