---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import { SITE_TITLE } from '../../consts';
import NightBackground from '../../components/NightBackground.astro';

const posts = (await getCollection('recipe')).sort(
  (a, b) => a.data.title.localeCompare(b.data.title)
);
---

<!doctype html>
<html class="h-full" lang="en">
  <head>
    <BaseHead title={['Recipes', SITE_TITLE].join(' | ')} />
  </head>
  <body class="h-full">
    <NightBackground />
    <Header />
    <main class="px-2 sm:px-8 py-6 flex justify-center">
      <section class="text-[#364153] basis-[65ch] max-w-[65ch]">
        <ul>
          {
            posts.map((post) => (
              <li class="not-first:mt-6 bg-white hover:opacity-85 shadow-md rounded-lg">
                <a class="block p-2 text-center" href={`/recipes/${post.id}`}>
                  {/* <img width={720} height={360} src={post.data.heroImage} alt="" /> */}
                  <h4 class="text-2xl font-semibold">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
