:root,
[data-theme] {
  --button-background-color: transparent;
  --button-text-color: var(--main-text-color);
  --button-hover-background-color: #ffffff33;
  --button-focus-outline-color: dodgerblue;
}

.button {
  text-decoration: none;
  border-style: none;
  border-radius: 5px;
  margin: 0;
  padding: 8px 12px;
  width: auto;
  overflow: visible;
  cursor: pointer;
  outline: 0;
  outline-style: solid;

  background: var(--button-background-color);
  color: var(--button-text-color);
  font: inherit;
  font-weight: 500;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.button:hover {
  --button-background-color: var(--button-hover-background-color);
}

.button:focus {
  outline-color: var(--button-focus-outline-color);
  outline-width: 2px;
}

.button-primary {
  --button-background-color: #265026;
  --button-text-color: white;
  --button-hover-background-color: #3e693e;
}

.button-compact {
  padding: 0;
}
