.confetti-canvas-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  animation-name: backgroundColorPalette;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.party-volume-slider {
  width: 170px;
  position: absolute;
  bottom: 80px;
  right: -65px;
  opacity: 0.3;
  transition-duration: 0.4s;
  transform: rotate(270deg);
}

.party-volume-slider:hover,
.party-volume-slider:focus {
  opacity: 1;
}

@keyframes backgroundColorPalette {
  0% {
    background: #ee6055;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #aaf683;
  }
  75% {
    background: #ffd97d;
  }
  100% {
    background: #ff9b85;
  }
}
