:root,
[data-theme] {
  --volume-slider-background-color: #212121;
  --volume-slider-border-radius: var(--main-border-radius);
  --volume-slider-text-color: white;
  --volume-slider-focus-outline-color: dodgerblue;
  --volume-slider-focus-outline-width: var(--main-focus-outline-width);
}

.volume-slider {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.3;
  transition-duration: 0.4s;

  padding-top: 185px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;

  border-radius: var(--volume-slider-border-radius);
  background: var(--volume-slider-background-color);
}

.volume-slider:hover,
.volume-slider:focus-within {
  opacity: 1;
}

.volume-slider-range {
  position: absolute;
  bottom: 108px;
  right: -70px;

  cursor: pointer;
  padding-bottom: 4px;
  padding-top: 4px;
  transform: rotate(270deg);
  width: 170px;

  border-radius: var(--volume-slider-border-radius);
  outline-style: solid;
  outline-width: 0;
}

.volume-slider-range:focus {
  outline-color: var(--volume-slider-focus-outline-color);
  outline-width: var(--volume-slider-focus-outline-width);
}

.volume-slider-mute-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-size: 20px;
  color: var(--volume-slider-text-color);
}
