:root,
[data-theme] {
  --party-background-1: #ee6055;
  --party-background-2: #60d394;
  --party-background-3: #aaf683;
  --party-background-4: #ffd97d;
  --party-background-5: #ff9b85;
}

.party-container {
  animation-name: backgroundColorPalette;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes backgroundColorPalette {
  0% {
    background: var(--party-background-1);
  }
  25% {
    background: var(--party-background-2);
  }
  50% {
    background: var(--party-background-3);
  }
  75% {
    background: var(--party-background-4);
  }
  100% {
    background: var(--party-background-5);
  }
}
