:root,
[data-theme] {
  --home-container-background-color: var(--main-background-color);
}

.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--home-container-background-color);
}
