.star {
  box-shadow: 0 0 10px 2px white;
  animation: twinkle 5s infinite ease-in-out;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.4);
  }
  50% {
    opacity: 1;
    transform: scale(0.8);
  }
}
