---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import NightBackground from '../components/NightBackground.astro';
---

<!doctype html>
<html class="h-full" lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="h-full">
    <NightBackground />
    <Header />
    <main>
      <div class="pt-[22vh] text-center">
        <div class="text-7xl">Sean Hale</div>
        <div>I slap a keyboard and accidentally make things sometimes.</div>
      </div>
    </main>
    <Footer className="fixed bottom-0 left-0 right-0" />
  </body>
</html>
