.settings-container {
  flex: 1 1 auto;
  flex-flow: column nowrap;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.settings-form {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: var(--main-text-color);
}

.settings-form-fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  flex: 1 1 auto;
  width: 200px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.settings-form-field {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.settings-form-label {
  font-size: 18px;
}

.settings-form-control {
  width: 100%;
  font-size: 16px;
}

.settings-select {
  background-color: inherit;
  border-color: var(--main-text-color);
  border-radius: var(--main-border-radius);
  color: var(--main-text-color);
  cursor: pointer;
  padding: 5px;
}

.settings-select:focus {
  outline: var(--main-focus-outline-width) var(--main-text-color) solid;
}

.settings-select-option {
  color: var(--main-background-color-dark);
}

.settings-homepage-link-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
