---
import HeaderLink from './HeaderLink.astro';
import { HEADER_LINKS, SITE_TITLE } from '../consts';
---

<header class="sticky top-0 z-10 px-4 bg-gray-800/30 backdrop-blur-md text-gray-200 shadow-md">
  <nav class="relative flex items-center justify-center h-16">
    <h2 class="absolute top-0 bottom-0 left-0 h-full py-2">
      <a class="hover:opacity-85" href="/">
        <img
          alt={SITE_TITLE}
          class="h-full aspect-square object-contain"
          src="/logo.png"
          title={SITE_TITLE}
        />
      </a>
    </h2>
    <div class="flex gap-4">
      {HEADER_LINKS.map((item) => <HeaderLink href={item.href}>{item.label}</HeaderLink>)}
    </div>
  </nav>
</header>
