.party-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.party-button {
  --party-button-color: #265026;
  --party-button-text-color: white;

  border-style: none;
  border-radius: 8px;
  margin: 0;
  padding: 8px 12px;
  width: auto;
  overflow: visible;
  cursor: pointer;
  outline: 0;

  background: var(--party-button-color);

  /* inherit font & color from ancestor */
  color: var(--party-button-text-color);
  font: inherit;
  font-weight: 500;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.party-button:hover {
  outline: 1px dodgerblue solid;
}

.party-button:focus {
  outline: 3px dodgerblue solid;
}

@media (prefers-color-scheme: dark) {
  .party-button:hover {
    outline: 1px lightgreen solid;
  }

  .party-button:focus {
    outline: 3px lightgreen solid;
  }
}
