html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --main-background-color-light: white;
  --main-background-color-dark: #212121;
  --main-text-color-light: black;
  --main-text-color-dark: white;

  --main-background-color: var(--main-background-color-light);
  --main-text-color: var(--main-text-color-light);

  --main-border-radius: 5px;
  --main-focus-outline-width: 2px;
}

[data-theme='dark'] {
  --main-background-color: var(--main-background-color-dark);
  --main-text-color: var(--main-text-color-dark);
}
